$width:100%;
$margin:0 auto;
body {
    background-color: #f4f4f4;
}

//头部
header {
    width: $width;
    height: 80px;
    background-color: rgb(2, 155, 151);
    .advertis {
        width: 1190px;
        height: 80px;
        margin: $margin;
        img:nth-of-type(1) {
            width: 190px;
            height: 80px;
            float: left;
        }
        img:nth-of-type(2) {
            width: 800px;
            height: 80px;
            float: left;
        }
    }
    // 导航栏
    nav {
        width: $width;
        height: 30px;
        border-bottom: 1px solid #ddd;
        background-color: #e3e4e5;
        .dingwei {
            width: 1190px;
            height: 30px;
            margin: $margin;
            line-height: 29px;
            font-size: 12px;
            color: #999;
            position: relative;
            .w {
                width: 42px;
                height: 28px;
                display: inline-block;
                border: 1px solid transparent;
                float: left;
                i {
                    color: red;
                }
                a {
                    display: inline-block;
                    font-weight: 100;
                }
                &:hover {
                    border: 1px solid #cecece;
                    border-bottom: none;
                    height: 30px;
                    background: #ffffff;
                }
                .shengfen {
                    width: 250px;
                    height: 420px;
                    border: 1px solid #cecece;
                    border-top: 0;
                    position: absolute;
                    top: 30px;
                    padding-left: 15px;
                    display: none;
                    z-index: 2;
                    background: #ffffff;
                    li {
                        width: 50px;
                        height: 20px;
                        float: left;
                        margin-top: 5px;
                        line-height: 20px;
                        a {
                            color: #999;
                            &:hover {
                                color: red;
                                background: #cecece;
                            }
                        }
                    }
                    .zhuanxiang {
                        float: left;
                        width: 230px;
                        height: 100px;
                        border-top: 1px solid #999;
                        border-bottom: 1px solid #999;
                        margin-top: 10px;
                        span {
                            display: inline-block;
                            width: 100px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                    .abc {
                        float: left;
                        margin-top: 10px;
                        span {
                            display: inline-block;
                            width: 100px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
            .w:hover b {
                color: red;
            }
            .w:hover .shengfen {
                display: block;
            }
            // 导航
            .nav-a {
                float: right;
                li {
                    position: relative;
                    font-size: 12px;
                    float: left;
                    &:nth-of-type(2n) {
                        margin: 0 10px;
                    }
                    a:hover {
                        color: red;
                    }
                    &:hover {
                        color: #000000;
                    }
                    //下拉菜单
                    .xiala {
                        position: absolute;
                        top: 30px;
                        left: -1052px;
                        margin: $margin;
                        width: 1165px;
                        height: 165px;
                        border: 1px solid #000000;
                        border-top: 0;
                        display: none;
                        padding: 15px;
                        z-index: 2;
                        background: #ffffff;
                        .yiji {
                            width: 280px;
                            height: 150px;
                            border-right: 1px solid #000000;
                            h6 {
                                color: #000000;
                                font-weight: 700;
                            }
                            li {
                                float: left;
                                width: 60px;
                            }
                            &:nth-last-of-type(1) {
                                border: 0;
                            }
                        }
                    }
                    .xl {
                        display: none;
                        width: 200px;
                        height: 400px;
                        border: 1px solid #999;
                        position: absolute;
                        top: 30px;
                        left: -150px;
                        border-bottom: 2px solid #000000;
                        z-index: 2;
                        background: #ffffff;
                        li {
                            width: 200px;
                            height: 100px;
                            margin: 0;
                            border-bottom: 1px solid #000000;
                            box-sizing: border-box;
                            padding: 10px 0 0 5px;
                            &:last-of-type {
                                border-bottom: 0;
                            }
                            img {
                                float: left;
                                width: 100px;
                                width: 80px;
                            }
                            .wenzi {
                                float: left;
                                width: 100px;
                                height: 80px;
                                span {
                                    float: left;
                                    color: #000;
                                    font-weight: 700;
                                    margin-right: 50px;
                                }
                                p {
                                    color: red;
                                    position: relative;
                                    top: -15px;
                                }
                                i {
                                    position: relative;
                                    top: -20px;
                                    margin: 5px;
                                }
                            }
                        }
                    }
                }
                .red a:nth-of-type(1) {
                    &:hover {
                        text-decoration: underline;
                        color: red;
                    }
                }
                .red a:nth-of-type(2) {
                    color: red;
                }
                .la2 {
                    a {
                        color: red;
                    }
                }
                .la1,
                .la2,
                .la3,
                .la4 {
                    border: 1px solid transparent;
                    box-sizing: border-box;
                    a {
                        position: relative;
                        top: -2px;
                    }
                    &:hover {
                        background: #ffffff;
                        border: 1px solid #cecece;
                        border-bottom: 0;
                    }
                }
                .la2,
                .la3,
                .la4 {
                    &:hover {
                        color: #000000;
                    }
                }
                .la4:hover .xiala {
                    display: block;
                }
                .la5:hover .xl {
                    display: block;
                }
            }
        }
    }
    // 头部搜索框集
    #s {
        width: $width;
        height: 140px;
        border-bottom: 1px solid #ddd;
        background: #ffffff;
        #sou {
            width: 1190px;
            height: 140px;
            margin: $margin;
            overflow: hidden;
            position: relative;
            img:nth-of-type(1) {
                float: left;
                width: 190px;
                height: 120px;
                margin-top: 10px;
            }
            img:nth-of-type(2) {
                width: 190px;
                height: 120px;
                float: right;
                margin-top: 10px;
            }
            //搜索盒子
            .sou-a {
                width: 1190px;
                height: 60px;
                position: absolute;
                top: 0;
                //搜索框
                .sou-b {
                    width: 546px;
                    height: 32px;
                    border: 2px solid red;
                    position: absolute;
                    top: 25px;
                    left: 260px;
                    input {
                        width: 425px;
                        height: 26px;
                        margin-left: 17px;
                        margin-top: 2px;
                        border: 0;
                        margin-right: 5px;
                    }
                    a:nth-of-type(1) {
                        position: relative;
                        top: 2px;
                    }
                    a:last-of-type {
                        display: inline-block;
                        width: 58px;
                        height: 32px;
                        float: right;
                        position: relative;
                        top: 1px;
                        background: red;
                        text-align: center;
                        line-height: 32px;
                        i {
                            font-size: 22px;
                        }
                    }
                }
                .gouwuche {
                    width: 130px;
                    height: 34px;
                    border: 1px solid #e3e4e5;
                    position: relative;
                    top: 25px;
                    left: 830px;
                    line-height: 34px;
                    i {
                        margin-left: 20px;
                        margin-right: 13px;
                        color: red;
                    }
                    a {
                        font-size: 12px;
                        color: red;
                    }
                    &:hover {
                        border: 1px solid red;
                    }
                }
            }
            //收缩框下的nav
            .nav-b {
                overflow: hidden;
                position: absolute;
                left: 260px;
                top: 65px;
                width: 550px;
                height: 20px;
                line-height: 20px;
                li {
                    float: left;
                    margin-right: 10px;
                    &:nth-of-type(1) a {
                        color: red;
                    }
                    a {
                        font-size: 12px;
                        color: #999;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
            .nav-c {
                position: absolute;
                left: 203px;
                bottom: 0;
                height: 40px;
                padding-top: 20px;
                line-height: 40px;
                li {
                    float: left;
                    margin: 0 11px;
                    .red1,
                    .red2 {
                        color: red;
                        font-weight: 700;
                    }
                    a {
                        font-size: 15px;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

//主体内容
main {
    width: $width;
    margin-top: 180px;
    // border: 1px solid #000;
    .bg {
        background: url(../image/bg.png.webp)50% 0px no-repeat;
        width: $width;
        // height: 710px;
        .min {
            width: 1190px;
            height: 480px;
            margin: $margin;
            margin-bottom: 20px;
            .left {
                float: left;
                width: 190px;
                height: 450px;
                background: #ffffff;
                padding: 10px 0;
                margin-right: 10px;
                .li {
                    width: 172px;
                    height: 25px;
                    padding-left: 18px;
                    font-size: 14px;
                    line-height: 25px;
                    color: #333333;
                    &:hover {
                        background: #cecece;
                    }
                    &:hover .caidan {
                        display: block;
                    }
                    a:hover {
                        color: red;
                    }
                    .caidan {
                        z-index: 2;
                        width: 1000px;
                        height: 470px;
                        background: #ffffff;
                        border: 1px solid #cecece;
                        position: absolute;
                        top: 260px;
                        left: 355px;
                        display: none;
                        padding: 20px;
                        box-sizing: border-box;
                        #ul {
                            width: 830px;
                            height: 23px;
                            li {
                                float: left;
                                background: #000;
                                margin-right: 8px;
                                &:hover {
                                    background: red;
                                }
                                a {
                                    padding: 0 10px;
                                    font-size: 12px;
                                    color: #ffffff;
                                }
                            }
                        }
                        #ul1 {
                            margin-top: 5px;
                            float: left;
                            // height: 23px;
                            border: 1px solid red;
                            li {
                                float: left;
                                margin-right: 10px;
                                a {
                                    font-size: 12px;
                                    color: #999;
                                }
                            }
                            .lii {
                                width: 80px;
                                text-align: right;
                                a {
                                    color: #333333;
                                }
                            }
                            .lic a {
                                padding: 0 5px;
                                color: red;
                                background: rgb(238, 210, 210);
                                border: 1px solid rgb(240, 143, 143)
                            }
                        }
                        table {
                            width: 200px;
                            height: 120px;
                            position: absolute;
                            right: 0;
                            top: 20px;
                            td {
                                height: 40px;
                                background: url(../image/574c0755Nc8f19944.jpg.webp) no-repeat center/cover;
                            }
                        }
                        img:nth-of-type(1) {
                            width: 200px;
                            height: 100px;
                            position: absolute;
                            right: 0;
                            top: 160px;
                        }
                        img:nth-of-type(2) {
                            width: 200px;
                            height: 100px;
                            position: absolute;
                            right: 0;
                            top: 265px;
                        }
                    }
                }
            }
            //大轮播
            .lunbo {
                width: 590px;
                height: 470px;
                float: left;
                .swiper-container {
                    width: 590px;
                    height: 470px;
                    margin-left: auto;
                    margin-right: auto;
                    .swiper-slide {
                        background-position: center;
                        background-size: cover;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                }
            }
            // 三小轮播
            .minlunbo {
                width: 190px;
                height: 470px;
                float: left;
                margin-left: 10px;
                .swiper-container {
                    width: 190px;
                    height: 470px;
                    .swiper-slide {
                        img {
                            width: 190px;
                            height: 150px;
                            &:nth-of-type(2) {
                                margin: 10px 0;
                            }
                        }
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
            .right {
                width: 190px;
                height: 470px;
                float: right;
                background: #ffffff;
                padding-top: 15px;
                box-sizing: border-box;
                .goutou {
                    float: left;
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: url(../image/下载.png) no-repeat center/cover;
                    margin-left: 20px;
                }
                .right-login {
                    margin-left: 10px;
                    float: left;
                    a {
                        font-size: 12px;
                        &:hover {
                            color: red;
                        }
                    }
                    span {
                        margin: 0 3px;
                        font-size: 12px;
                    }
                }
                .fuli {
                    position: relative;
                    padding-top: 52px;
                    width: 100%;
                    height: 35px;
                    span:nth-of-type(1) {
                        display: inline-block;
                        margin: 0 5px;
                        width: 70px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        text-align: center;
                        color: #fff;
                        margin-left: 15px;
                        border-radius: 13px;
                        background: #e1251b;
                    }
                    span:nth-of-type(2) {
                        display: inline-block;
                        margin: 0 5px;
                        width: 70px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                        text-align: center;
                        border-radius: 13px;
                        background: #363634;
                        color: #e5d790;
                    }
                }
                .gang {
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
                }
                .jdkb {
                    height: 20px;
                    padding: 10px 0 0;
                    position: relative;
                    line-height: 20px;
                    margin-bottom: 8px;
                    b {
                        font-size: 14px;
                        margin-left: 15px;
                        color: #333;
                    }
                    a {
                        position: absolute;
                        right: 15px;
                        top: 10px;
                        font-size: 12px;
                        color: #999;
                    }
                }
                .remen {
                    position: relative;
                    margin: 0 15px;
                    height: 88px;
                    li {
                        font-size: 12px;
                        margin-bottom: 5px;
                        a {
                            &:hover {
                                color: red;
                            }
                            span {
                                display: inline-block;
                                height: 16px;
                                width: 35px;
                                line-height: 16px;
                                text-align: center;
                                vertical-align: 0;
                                color: #e1251b;
                                background-color: rgba(225, 37, 27, .08);
                                margin-right: 6px;
                            }
                        }
                    }
                }
                .tubiao {
                    width: 189px;
                    height: 225px;
                    margin-top: 5px;
                    li {
                        width: 63px;
                        height: 55px;
                        float: left;
                        img {
                            width: 28px;
                            height: 28px;
                            margin: 0 auto;
                            margin-bottom: 5px;
                        }
                        a {
                            display: block;
                            text-align: center;
                            font-size: 12px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
        // 倒计时加轮播
        .jishi {
            width: 1190px;
            height: 260px;
            margin: $margin;
            margin-bottom: 30px;
            background: yellow;
            .daojishi {
                width: 190px;
                height: 260px;
                background: url(../image/倒计时.png);
                padding-top: 31px;
                box-sizing: border-box;
                float: left;
                p:nth-of-type(1) {
                    width: 100%;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    color: #fff;
                }
                p:nth-of-type(2) {
                    width: 190px;
                    height: 25.4px;
                    font-size: 14px;
                    text-align: center;
                    margin-top: 90px;
                    color: #fff;
                    font-size: 14px;
                }
                .tim {
                    font-size: 30px;
                    color: #fff;
                    text-align: center;
                    margin-top: 10px;
                    span {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        background: #000;
                        color: #fff;
                        position: relative;
                        font-size: 16px;
                    }
                    b {
                        display: inline-block;
                        width: 10px;
                        height: 30px;
                        line-height: 30px;
                        color: #fff;
                        font-weight: 500;
                    }
                }
            }
            .js-lb {
                float: left;
                width: 800px;
                height: 260px;
                background: url(../image/7.png)no-repeat center/cover;
            }
            .js-lb1 {
                float: left;
                width: 200px;
                height: 260px;
                background: #fff;
                .swiper-container {
                    width: 200px;
                    height: 260px;
                    margin-left: auto;
                    margin-right: auto;
                    .swiper-slide {
                        background-position: center;
                        background-size: cover;
                        /* Center slide text vertically */
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                }
            }
        }
        // 满减
        .manjian {
            width: 1270px;
            height: 590px;
            margin: 0 auto;
            background-image: url(../image/mj.webp);
            background-size: cover;
            width: 1270px;
            height: 590px;
            padding-top: 140px;
            box-sizing: border-box;
            .box {
                width: 1202.5px;
                height: 440px;
                float: left;
                box-sizing: border-box;
                margin: 0 33px;
                .box-1 {
                    width: 1000px;
                    height: 440px;
                    float: left;
                    a {
                        display: block;
                        float: left;
                        margin: 0 10px 10px 0;
                        position: relative;
                        width: 190px;
                        height: 210px;
                        background: url(../image/xmj.webp)no-repeat center/cover;
                        img:nth-of-type(1) {
                            width: 130px;
                            height: 130px;
                            margin: 5px auto;
                        }
                        img:nth-of-type(2) {
                            width: 174px;
                            height: 30px;
                            margin: 0 auto;
                        }
                        span:nth-of-type(1) {
                            position: absolute;
                            left: 0;
                            top: 145px;
                            width: 174px;
                            text-align: center;
                            font-size: 17px;
                            color: #fff;
                            line-height: 17px;
                        }
                        span:nth-of-type(2) {
                            display: block;
                            width: 190px;
                            height: 16px;
                            text-align: center;
                            font-size: 16px;
                            color: #de452b;
                            line-height: 16px;
                            margin-top: 10px;
                        }
                    }
                }
                .box-2 {
                    width: 190px;
                    height: 440px;
                    float: left;
                    img {
                        width: 190px;
                        height: 100px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        // 每日特价
        .tejia {
            width: 1190px;
            height: 340px;
            margin: 20px auto;
            background: #fff;
            .tj {
                width: 590px;
                float: left;
                height: 340px;
                padding: 10px;
                box-sizing: border-box;
                span {
                    display: inline-block;
                    float: left;
                    font-weight: 700;
                    font-size: 24px;
                    color: #333;
                    line-height: 32px;
                }
                #tjj {
                    height: 50px;
                    float: right;
                    margin-top: 5px;
                    li {
                        width: 50px;
                        float: left;
                        &:hover a {
                            color: red;
                            text-decoration: underline;
                        }
                    }
                }
                .xie {
                    width: 170px;
                    height: 265px;
                    background: #cecece;
                    margin-top: 50px;
                    padding-top: 40px;
                    box-sizing: border-box;
                    img {
                        width: 120px;
                        height: 120px;
                        margin: auto;
                    }
                    span:nth-of-type(1) {
                        margin-top: 9px;
                        margin-bottom: 4px;
                        height: 19px;
                        line-height: 19px;
                        width: 150px;
                        font-size: 14px;
                        text-align: center;
                        &:hover {
                            color: red;
                        }
                    }
                    span:nth-of-type(2) {
                        color: red;
                        font-size: 18px;
                        margin-left: 50px;
                    }
                }
                .you {
                    position: relative;
                    top: -265px;
                    left: 180px;
                    img {
                        width: 370px;
                        height: 265px;
                    }
                }
            }
            .sg {
                width: 590px;
                height: 340px;
                float: right;
                background: url(../image/5.png)no-repeat center/cover;
            }
        }
    }
    // 商品列表
    .tj-box {
        width: $width;
        height: 45px;
        .tj {
            position: relative;
            width: 1190px;
            height: 45px;
            margin: 20px auto;
            img:nth-of-type(1) {
                position: absolute;
                left: 500px;
                top: 15px;
            }
            img:nth-of-type(2) {
                position: absolute;
                left: 650px;
                top: 15px;
            }
            h4 {
                font-size: 28px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                font-weight: 700;
            }
        }
    }
    .jx-box {
        width: $width;
        height: 60px;
        .jx {
            margin: 10px auto;
            width: 1190px;
            height: 60px;
            padding-left: 40px;
            box-sizing: border-box;
            background: #fff;
            li {
                width: 180px;
                height: 60px;
                float: left;
                text-align: center;
                p {
                    width: 80px;
                    height: 27px;
                    line-height: 27px;
                    font-size: 16px;
                    font-weight: 700px;
                    margin-left: 50px;
                    margin-top: 5px;
                }
                &:hover {
                    color: red;
                }
                &:nth-of-type(1) p {
                    background: red;
                    color: #fff;
                    border-radius: 15px;
                }
            }
        }
    }
    .lb-box {
        width: $width;
        .lb {
            width: 1200px;
            height: 1000px;
            border: 1px solid red;
            margin: 10px auto;
            li {
                width: 230px;
                height: 322px;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 30px 15px;
                box-sizing: border-box;
                background: #fff;
                img {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto 20px;
                }
                span {
                    color: red;
                }
                // p {
                //     width: 190px;
                //     height: 40px;
                //     font-size: 14px;
                //     color: #666;
                //     text-align: left;
                //     -webkit-transition: color .2s ease;
                //     transition: color .2s ease;
                //     word-break: break-all;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     display: -webkit-box;
                //     -webkit-line-clamp: 2;
                //     -webkit-box-orient: vertical;
                // }
            }
        }
    }
}