$width:100%;
$margin:0 auto;
//头部
header {
    width: $width;
    height: 80px;
    background-color: rgb(2, 155, 151);
    .advertis {
        width: 1190px;
        height: 80px;
        margin: $margin;
        img:nth-of-type(1) {
            width: 190px;
            height: 80px;
            float: left;
        }
        img:nth-of-type(2) {
            width: 800px;
            height: 80px;
            float: left;
        }
    }
    // 导航栏
    nav {
        width: $width;
        height: 30px;
        border-bottom: 1px solid #ddd;
        background-color: #e3e4e5;
        .dingwei {
            width: 1190px;
            height: 30px;
            margin: $margin;
            line-height: 30px;
            font-size: 12px;
            color: #999;
            position: relative;
            .w {
                width: 42px;
                height: 28px;
                display: inline-block;
                border: 1px solid transparent;
                float: left;
                i {
                    color: red;
                }
                b {
                    display: inline-block;
                    font-weight: 100;
                }
                &:hover {
                    border: 1px solid #cecece;
                    border-bottom: none;
                    height: 30px;
                    background: #ffffff;
                }
                .shengfen {
                    width: 250px;
                    height: 420px;
                    border: 1px solid #cecece;
                    border-top: 0;
                    position: absolute;
                    top: 30px;
                    padding-left: 15px;
                    display: none;
                    li {
                        width: 50px;
                        height: 20px;
                        float: left;
                        margin-top: 5px;
                        line-height: 20px;
                        a {
                            color: #999;
                            &:hover {
                                color: red;
                                background: #cecece;
                            }
                        }
                    }
                    .zhuanxiang {
                        float: left;
                        width: 230px;
                        height: 100px;
                        border-top: 1px solid #999;
                        border-bottom: 1px solid #999;
                        margin-top: 10px;
                        span {
                            display: inline-block;
                            width: 100px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                    .abc {
                        float: left;
                        margin-top: 10px;
                        span {
                            display: inline-block;
                            width: 100px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
            .w:hover b {
                color: red;
            }
            .w:hover .shengfen {
                display: block;
            }
            // 导航
            .nav-a {
                float: right;
                li {
                    position: relative;
                    font-size: 12px;
                    float: left;
                    &:nth-of-type(2n) {
                        margin: 0 10px;
                    }
                    a:hover {
                        color: red;
                    }
                    &:hover {
                        color: #000000;
                    }
                    //下拉菜单
                    .xiala {
                        position: absolute;
                        top: 30px;
                        left: -1052px;
                        margin: $margin;
                        width: 1190px;
                        height: 165px;
                        border: 1px solid #000000;
                        border-top: 0;
                        display: none;
                        padding: 15px;
                        .yiji {
                            width: 280px;
                            height: 150px;
                            border-right: 1px solid #000000;
                            li {
                                float: left;
                                width: 60px;
                            }
                            &:nth-last-of-type(1) {
                                border: 0;
                            }
                        }
                    }
                }
                .red a:nth-of-type(1) {
                    &:hover {
                        text-decoration: underline;
                        color: red;
                    }
                }
                .red a:nth-of-type(2) {
                    color: red;
                }
                .la2 {
                    a {
                        color: red;
                    }
                }
                .la1,
                .la2,
                .la3,
                .la4 {
                    border: 1px solid transparent;
                    a {
                        position: relative;
                        top: -2px;
                    }
                    &:hover {
                        background: #ffffff;
                        border: 1px solid #cecece;
                        border-bottom: 0;
                    }
                }
                .la2,
                .la3,
                .la4 {
                    &:hover {
                        color: #000000;
                    }
                }
                .la4:hover .xiala {
                    display: block;
                }
            }
        }
    }
}

main {
    height: 2000px;
}