$width:100%;
$margin:0 auto;
//头部
header {
    width: $width;
    height: 80px;
    div {
        width: 990px;
        height: 80px;
        margin: $margin;
        overflow: hidden;
        img {
            margin-top: 10px;
            width: 170px;
            height: 60px;
            float: left;
        }
        b {
            float: left;
            margin-top: 30px;
            display: block;
            margin-left: 30px;
            width: 120px;
            height: 30px;
            font-size: 25px;
            color: #3b3b3b;
        }
        span {
            float: right;
            margin-top: 52px;
            display: block;
            width: 134px;
            height: 14px;
            font-size: 12px;
            color: #999;
            i {
                color: red;
            }
            &:hover a {
                text-decoration: underline;
                color: red;
            }
        }
    }
}

//主体内容
main {
    width: $width;
    height: 515px;
    .anquan {
        width: $width;
        height: 38px;
        background-color: #fff8f0;
        margin: $margin;
        font-size: 12px;
        text-align: center;
        line-height: 38px;
        color: #999;
        i {
            font-size: 16px;
            position: relative;
            top: 1px;
        }
        a {
            color: #333333;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    nav {
        width: $width;
        background-color: #b2010b;
        .banner {
            margin: $margin;
            width: 990px;
            height: 475px;
            background: url(../image/login-banner.jpg) no-repeat center/cover;
            overflow: hidden;
            .login {
                $width: 346px;
                width: $width;
                height: 436px;
                margin-top: 10px;
                float: right;
                background-color: #fff;
                .tishi {
                    width: $width;
                    height: 38px;
                    background-color: #fff8f0;
                    font-size: 12px;
                    line-height: 38px;
                    text-align: center;
                    color: #999;
                    i {
                        position: relative;
                        top: 1px;
                    }
                }
                .login-q {
                    width: $width;
                    height: 54px;
                    span {
                        color: #747474;
                        width: 169px;
                        height: 18px;
                        font-size: 18px;
                        margin-top: 12px;
                        display: inline-block;
                        text-align: center;
                        border-right: 1px solid #f4f4f4;
                        //点击颜色切换
                        &:nth-of-type(1) {
                            color: red;
                        }
                        &:hover {
                            color: red;
                            font-weight: 600;
                        }
                    }
                }
                .saoma {
                    width: $width;
                    height: 293px;
                    border-top: 1px solid #f4f4f4;
                    border-bottom: 1px solid #f4f4f4;
                    .saoma1 {
                        display: block;
                        height: 250px;
                        position: absolute;
                        img {
                            width: 170px;
                            height: 164px;
                            margin-top: 20px;
                            margin-left: 88px;
                        }
                        p {
                            margin-top: 25px;
                            margin-left: 88px;
                            width: 170px;
                            font-size: 12px;
                            text-align: center;
                            a {
                                color: red;
                            }
                        }
                        .mianshuru {
                            display: inline-block;
                            margin-top: 20px;
                            margin-right: 18px;
                            &:nth-of-type(1) {
                                margin-left: 50px;
                            }
                            i {
                                font-size: 25px;
                                color: #999;
                            }
                            b {
                                font-weight: 0;
                                font-size: 12px;
                                color: #999;
                                position: relative;
                                top: -5px;
                            }
                        }
                    }
                    .saoma2 {
                        display: none;
                        position: absolute;
                        top: 200px;
                        height: 250px;
                        .username {
                            width: 306px;
                            height: 40px;
                            box-sizing: border-box;
                            border: 1px solid #cecece;
                            margin-top: 40px;
                            margin-left: 20px;
                            span {
                                display: inline-block;
                                width: 38px;
                                height: 39px;
                                position: relative;
                                top: -1px;
                                font-size: 30px;
                                text-align: center;
                                line-height: 40px;
                                border-right: 1px solid #cecece;
                                background: #cecece;
                            }
                            input {
                                width: 250px;
                                height: 20px;
                                border: 0;
                                position: relative;
                                top: -8px;
                            }
                        }
                        a {
                            position: relative;
                            top: 20px;
                            left: 250px;
                            font-size: 14px;
                            &:hover {
                                color: red;
                            }
                        }
                        .denglu {
                            width: 280px;
                            height: 35px;
                            background: red;
                            position: relative;
                            top: 40px;
                            left: 30px;
                            font-size: 20px;
                            color: #fff;
                            line-height: 35px;
                            text-align: center;
                        }
                    }
                }
                .zhuce {
                    width: $width;
                    height: 50px;
                    background-color: #fcfcfc;
                    font-size: 12px;
                    span {
                        display: inline-block;
                        margin-top: 15px;
                        &:nth-of-type(1) {
                            margin-left: 24px;
                        }
                        i {
                            color: green;
                        }
                        &:nth-of-type(2) {
                            margin: 0 5px;
                        }
                    }
                    .tiaozhuan {
                        float: right;
                        margin-top: 15px;
                        color: red;
                        margin-right: 20px;
                        i {
                            margin-right: 2px;
                            font-size: 18px;
                        }
                        b {
                            float: right;
                        }
                    }
                }
            }
        }
    }
}

// 底部
footer {
    width: $width;
    height: 55px;
    margin-top: 10px;
    .daohang {
        width: 990px;
        margin: $margin;
        height: 17.6px;
        text-align: center;
        li {
            float: left;
            color: #666;
            font-size: 12px;
            border-left: 1px solid #999;
            &:nth-of-type(1) {
                border: 0;
                margin-left: 90px;
            }
            a {
                margin: 0 10px;
                &:hover {
                    color: red;
                    text-decoration: underline;
                }
            }
        }
    }
    .banquan {
        font-size: 12px;
        text-align: center;
        margin: 10px 0;
    }
}